*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */

li {
    list-style: none;
}
header {
    background: url('./images/background-slider.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment:fixed;
}

.header-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
}
.menu-container{
    width: 45%;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.menu a{
    font-size: 13px;
    font-family: Montserrat;
    font-weight: 600;
    color: #ffffffd9;
    text-decoration: none;
    line-height: 50px;
}
.menu a:hover{
    color: white;
}
.search-bar{
    display: none;
}
.open,.close{
    display: none;
}
.header-icons {
    display: flex;
    width: 100px;
    justify-content: space-between;
}
.fruit{
    position: relative;
    margin-left: 3.5rem;
    text-align: center;
    margin-top: 4rem ;
    
}
.premium{
    font-family: Sacramento;
    font-size: 49px;
    text-align: center;
    color: rgb(245, 245, 100);
    margin-top: -2.2rem;
}
.quality{
    color: #e7e7e0;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 9px;
    letter-spacing: 5px;
    text-align: center;
}
.restaurant{
    color: white;
    font-size: 120px;
    font-style: italic;
    font-weight: 700;
    font-family: Cormorant Garamond;
    text-align: center;
    line-height: 100px;
    margin-bottom: 6rem;
}
.design{
    height: 60px;
    width: 40px;
    border: 2px solid white;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 1.5rem;
   
}
.circle{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
    margin-left: 12.5px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* transform: translate(0px, 10px ) ; */
    
    transition: cubic-bezier(0px, 10px);
    transition-property: height;
    transition-duration: 5s;
}

/* product-section */
#about{
    padding: 6rem 0 0 0;
}
.offer{
    font-size: 40px;
    font-family: Cormorant Garamond;
    font-weight: 600;
    text-align: center;
    color: rgb(49, 48, 48);
}
.offer-lines{
    display: flex;
    justify-content: center;
    color: #a6a6a6;
}
.offer-lines .lines{
    width: 70px;
    height: 0.1px;
    border: 0.1px solid rgb(224, 220, 220);
    margin: 10px 15px ;
}
.hearts{
    font-family: Montserrat;
    font-size: 14px;
}
.product-container{
    display: flex;
    justify-content: space-around;
    background-image: url(./images/always-fresh.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    margin-top: -150px;
}
.product{
    width: 320px;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: 200px;
}
.product-head{
    font-size: 36px;
    font-family:Cormorant Garamond ;
    font-style: italic;
    margin: 30px;
    color: #3e3e3e;
}
.product-text{
    font-family: Montserrat;
    font-size: 14px;
    color: #646464;
}

/* welcome-section */

.welcome-section{
    display: flex;
    margin: 6rem 0;

}
.welcome-img,.welcome2-img{
    width: 50%;
    box-shadow:  5px 10px 20px 20px #f0f0f0;
    object-fit: cover;
} 
.welcome-img{
    border-radius: 0 10px 10px 0;
}
.welcome2-img{
    border-radius: 10px 0 0 10px ;
} 
.welcome-text{
    width: 400px;
    margin: 0 0 200px 140px;
}
.welcome-text2{
    width: 400px;
    margin: 50px 0px 270px 140px;
}
.welcome-section2{
    width: 50%;
}
.welcome{
    font-family:Cormorant Garamond ;
    font-size: 600px;
    color: #f0f0f0;
    font-style: italic;
    margin-top: -200px; 
    /* margin-top is negative because of the large margin the font has */
}
#welcome{
    text-align: right;
}
.welcome-head,.welcome-head2{
    font-family:Cormorant Garamond ;
    font-size: 40px;
    color: #3e3e3e;
    font-style: italic;
    margin-top: -222px;
    line-height: 40px;
}
.welcome-head2{
    margin-top: -280px;
    text-align: right;
}
.welcome-head-text,.welcome-head-text2{
    font-family:Montserrat ;
    font-size: 14px;
    color: #646464;
    margin: 3rem 0 4rem 0;
    line-height: 25px;
}
.welcome-head-text2{
    text-align: right;
}
.about-link,.about-link2{
    font-family:Montserrat ;
    font-size: 11px;
    color: #646464;
    text-decoration: none;
}
.about-link2{
    float: right;
}
.about-link:hover,.about-link2:hover{
    color: #ff7417;
}

/* team-section */
.team-section{
    padding: 6rem 0 8rem;
    background-color: #f9f9f9;
}
.teams{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}
.team-member{
    width: 247px;
    text-align: center;
}
.name{
    color: #3e3e3e;
    font-family: Cormorant Garamond;
    font-size: 16px;
    margin: 15px;
    font-weight: 700;
}
.role{
    color: #a6a6a6;
    font-size: 24px;
    font-family: Montserrat; 
    margin-bottom:15px ;
}
.description,.story-description{
    color: #646464;
    font-size: 14px;
    font-family: Montserrat; 
    line-height: 24px;
}
.back-img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.back-img2{
    width: 100%;
    height: 150vh;
    object-fit: cover;
    margin-top: 12rem;
}
/* menu */
#menu{
    width: 90%;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 7rem 0;
    margin-top: -1670px;
    position: relative;
    z-index: 1;
}
.menu-img{
    text-align: center;
    margin-bottom: 10px;
}
.menu-section{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    margin-top: 6rem;
}
.menu-head{
    color: #ff7417;
    font-family: Cormorant Garamond;
    font-size: 36px;
    margin-bottom: 3rem;
}
.food{
    width: 452px;
    margin-bottom: 5rem;
}
.food-price{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: Montserrat; 
    border-bottom: 1px dashed #a6a6a6;
    line-height: 40px;
}
.food-description{
    width: 380px;
    font-size: 14px;
    font-family: Montserrat; 
    color: #646464;
    line-height: 20px;
    margin-top: 10px;
    font-style: italic;
}
.menu-btn{
    text-align: center;
    margin-top: 2rem;
}
.menu-btn button{
    padding: 19px 41px;
    background-color: #3f3f3f00;
    border: 1px solid #646464;
    text-align: center;
    font-size: 11px;
    font-family: Montserrat; 
    color: #676767;
    outline: none;
    border-radius: 30px;
    font-weight: bold;
}

/* testimonial */
#testimonial{
    background-color: #f9f9f9;
    margin-top: 15rem;
    padding: 6rem 0;
}
.slideshow{
    margin-top: 4rem;
    text-align: center;
}
.mySlides{
    display: none;
    height: 350px;
}
.mySlides p{
    width: 820px;
    margin: auto;
}
.story-description{
    padding: 30px 0 20px 0;
}
.title{
    color: #cacaca;
    font-size: 14px;
    font-family: Montserrat; 
    line-height: 24px;
}
.rating{
    color: #646464;
    font-size: 28px;
    font-family: Montserrat; 
    padding-top: 1rem;
}
.arrow-section{
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 100px;
    margin-bottom: -120px;
    position: relative;
}
.arrow {
    border: solid #a6a6a6;
    border-width: 0 2px 2px 0;
    display: block;
    padding: 8px;
    cursor: pointer;
}
.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);

}

.left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}

/* reservation */
.back-img3{
    width: 100%;
    height: 123vh;
    object-fit: cover;
}
.reservation{
    padding: 4rem 0;
    width: 90%;
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    margin-top: -695px;
}
#offer-lines .lines{
    width: 35px;
}
.booking{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
}
#input-text{
    width: 500px;
    height: 63px;
    padding: 26px;
    color: #a6a6a6;
    font-size: 14px;
    font-family: Montserrat; 
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(224, 220, 220);
    margin-top: 2rem;
}
#input-text::placeholder{
    color: #a6a6a6;
    font-size: 14px;
    font-family: Montserrat; 
    font-style: italic;
}
#input-text:focus{
    border-bottom: 1px solid #ff7417;
}
#date,#time,#persons{
    width: 323px;
    height: 65px;
    padding: 20px;
    margin-top: 2rem;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(224, 220, 220);
    color: #a6a6a6;
    font-size: 14px;
    font-family: Montserrat; 
}
#time,#persons{
    color: #3e3e3e;
}

.booking-link{
    margin-top: 4rem;
    text-align: center;
}
.booking-link button{
    font-family:Montserrat ;
    font-size: 14px;
    color: #646464;
    font-weight: bold;
    background: none;
    border: none;
    outline: none;
}
.booking-link button:hover{
    color: #a6a6a6;
}

/* contacts */
#contacts{
    display: flex;
    margin-top: 8rem;
   
}
.contacts{
    width: 50%;
    padding: 7rem 0;
}
.map{
    width: 50%;
}
.map img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.contact-head{
    width: 179px;
    font-family:Cormorant Garamond ;
    font-size: 36px;
    color: #3e3e3e;
    font-style: italic;
    margin: auto;
}
.timing-section{
    padding: 6rem 0;
}
.timing{
    width: 320px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #a6a6a6 ;
    margin: auto;
}
#closed{
    border-bottom: none;
}
.timing p{
    font-family:Montserrat ;
    font-size: 14px;
    color: #292929;
    line-height: 70px;
}
.contact-details p{
    font-family:Montserrat ;
    font-size: 14px;
    color: #646464;
    text-align: center;
    line-height: 20px;
}
.contact-description{
    margin-bottom: 20px;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 3rem 6rem;
    background-color: #393939;
}
footer p{
    font-family:Montserrat ;
    font-size: 14px;
    color: #ffffff;
    margin: auto;
}
.footer-icons{
    width: 140px;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.footer-icons a{
    color: white;
}
.footer-icons a:hover{
    color: #ff7417;
}
.attribution{
    font-family:Montserrat ;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    background-color: #393939;
}
.attribution a{
    color: #ffffff;
    text-decoration: none;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: white; /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 16px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 20px; /* Increase font size */
    color: #646464;
    /* box-shadow:  0px 0px 5px 5px #f0f0f0; */
    box-shadow: 2px 1px 17px -8px #f0f0f0;
}

#myBtn:hover {
    background-color: #ff7417; /* Add a dark-grey background on hover */
    color: white;
    box-shadow: none;
}
  
@media screen and (max-width:1024px){
.open{
    display: block;  
    font-size: 25px;
    color: white;
    position: absolute;
    top: 1.8rem;
    right: 5rem; 
}
.close{
    position: absolute;
    display: none;
    top: 1.6rem;
    right: 5rem; 
    font-size: 30px;
    color: white;
}

#links{
    display: none;
}
.logo{
    padding: 1rem 5rem;
}
.search-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
#search{
    width: 95%;
    border: none;
    outline: none;
    font-size: 26px;
    font-weight: bold;
    color: #aaaaaa;
    font-family: Montserrat;
    background-color: #2b2a2a;
}
#search::placeholder{
    color: #aaaaaa;
    font-style: italic;
}
#search-btn{
    color: #aaaaaa;
    font-size: 26px;
    background-color: #2b2a2a;
    border: none;
    outline: none;
}
.menu-container{
    width: 100%;
}
.header-menu{
    display: block;
    padding: 0;
}
#contact-menu{
    border-bottom: none;
}
.menu{
    position: absolute;
    width: 100%;
    background-color: #2b2a2a;
    z-index: 1000;
    padding: 1.2rem 5rem;
}
.menu li{
    border-bottom: 1px solid #3a3939;
    width: 95%;
}
.menu a{
    color: #aaaaaa;
}
.header-icons{
    display: none;
}
.fruit{
    margin-left: 3.3rem;
    margin-top: 0 ;
}
.premium{
    font-family: Sacramento;
    font-size: 44px;
    margin-top: -2rem;
}
.quality{
    font-size: 7px;
}
.restaurant{
    font-size: 88px;
    line-height: 80px;
    padding-bottom: 0;
}
.product-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: -200px;
    padding: 0 2.5rem;
}
.product{
    margin-top: 250px;
}
.product,.product img{
    width: 203px;
}
.welcome-section{
    display: flex;
    flex-wrap: wrap;
}
.welcome-text{
    width: 327px;
    margin: 150px 45px 200px 140px;
}
.welcome-text2{
    width: 327px;
    margin: 150px 140px 280px 45px;
}
.welcome{
    font-size: 400px;
}
.welcome-head{
    margin-top: -100px;
}
.welcome-head2{
    margin-top: -162px;
}

/* team */
.teams{
    padding: 2rem;
}
.team-member,.team-member img{
    width: 160px;
}
.back-img{
    height: 150vh;
}
.back-img2{
    height: 215vh;
    
}
#menu{
    margin-top: -1760px;
    width: 80%;
}
.menu-head{
   padding: 0 1rem;
   font-size: 26px;
}
.food{
    width: 312px;
    margin-bottom: 5rem;
    padding: 0 1rem;
}
.food-price{
    padding:0 0 10px 0 ;
}
.food-name{
    width: 140px;
    line-height: 28px;
}
.food-description{
    width: 280px;
}
.price{
    line-height: 28px;
}

/* testimonial */
.mySlides p{
    width: 595px;
}
.arrow-section{
    width: 350px;
}
/* reservation*/
.back-img3{
    height: 173vh;
}
.reservation{
    margin-top: -703px;
}
.booking{
    padding: 0 3rem;
}
#input-text{
    width: 325px;
}
#date,#time,#persons{
    width: 206px;
}

/* contact */

.contact-head{
    font-size: 26px;
}

.footer-icons{
    margin-top: 1.2rem;
}


}



@media screen and (max-width:770px){
.menu li{
    width: 100%;
}    
.restaurant{
    font-size: 79px;
}

.product-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: auto;
    padding-bottom: 6rem;
   
}
.product{
    width: 540px;
    margin: auto;
}
.product img{
    width: 320px;
    height: auto;
    margin-top: 50px;
}
.product-head{
    font-size: 26px;
    margin: 15px;
}

/* welcome */
.welcome-section{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.welcome-text,.welcome-text2,.welcome-section2{
    width: 100%;
    margin: auto;
    text-align: center;
}
#welcome,.welcome-head2,.welcome-head-text2{
    text-align: center;
}
.welcome-img,.welcome2-img{
    width: 100%;
    height: 200px;
}
.welcome2-img{
    margin-top: 60px
}

.welcome{
    margin-top:-180px;
}
.welcome-head,.welcome-head2{
    width: 400px;
    margin: auto;
    margin-top: -100px;
}
.welcome-head-text,.welcome-head-text2{
    width: 400px;
    margin: auto;
    padding: 30px 0;
}
.welcome-head2{
    margin-top: -162px;
}
#welcome{
    margin-top: -60px;
}
.about-link2,.about-link{
    float: none;
}


/* teams */
.teams{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.team-member,.team-member img{
    width: 540px;   
}
.team-member{
    margin: auto;
    margin-bottom: 3rem;
}
.team-section{
    padding: 4rem 0 ;
    background-color: #f9f9f9;
}
.role{
    font-size: 14px;
}

/* menu */
#menu{
    padding: 3rem 0;
}
.menu-section{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.menu-head{
    text-align: center;
    margin: 3rem 0 2rem 0;
}
.food{
    width: 540px;
    margin: auto;
    margin-bottom: 2rem;
    padding: 0;
}
.food-price{
    display: block;
    text-align: center;
}
.food-name,.food-description{
    width: 540px;
}
.food-description{
    width: 486px;
    text-align: center;
}

/* testimonial */
#testimonial{
    margin-top: 7rem;
    padding: 4rem 0 1rem 0;
}
.mySlides p{
    width: 640px;
}

/* .reservation */
.back-img3{
    height: 220vh;
}
.reservation{
    width: 80%;
    margin-top: -980px;
    padding: 3rem 0;
}
.booking{
    width: 100%;
}
#input-text,#date,#time,#persons{
    width: 100%;
}

/* contacts  */
#contacts,.timing{
    display: block;
}
.timing{
    display: block;
    text-align: center;
    padding: 30px 0;
}
.timing p{
    line-height: 20px;
   
}
.contacts,.map{
    width: 100%;
    margin: auto;
    
}
.contacts{
    padding: 1rem 0 6rem 0;
}
.timing-section{
    padding: 3rem 0;
}
.contact-head{
    margin: auto;
    text-align: center;
}
.map img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* footer  */
footer{
    display: block;
    margin: auto;
    text-align: center;
    padding: 3rem 0;
}
footer p{
    margin-top: 10px;
}
.footer-icons{
    margin: auto;
    padding: 4rem 0 0 0;
}


}



@media screen and (max-width:500px) {
.logo,.menu{
    padding: 1rem 4rem;
}
.open,.close{
    right: 4rem;
}
.product,.product img,.team-member img,.team-member{
    width: 240px;

}
.welcome-head-text,.welcome-head-text2,.welcome-head,.welcome-head2{
    width: 335px;
}
.welcome2-img,.welcome-img{
    width: 100%;
}
#menu{
    width: 70%;
    margin-top: -2100px;
    -webkit-box-shadow: 2px 1px 17px -8px #f0f0f0;
    -moz-box-shadow: 2px 1px 17px -8px #f0f0f0;
    box-shadow: 2px 1px 17px -8px #f0f0f0;
}
.food,.food-name{
    width: 240px;
    
}

.food-description{
    width: 200px;
    
}
.back-img2{
    height: 270vh;
}
.mySlides{
    height: 450px;
}
.mySlides p{
    width: 330px;
}
.arrow-section{
    width: 200px;
}
#book,#cuisine{
    width: 230px;
    margin: auto;
}
.back-img3{
    height: 233vh;
}
.reservation{
    margin-top: -1050px;
}

}



@media screen and (max-width:375px){
.logo,.menu{
    padding: 1rem 2rem;
}   
.open,.close{
    right: 2rem;
}
.restaurant{
    font-size: 77px;
}
.welcome-head-text,.welcome-head-text2,.welcome-head,.welcome-head2{
    width: 285px;
}
#menu{
    width: 80%;
}
.reservation{
    width: 90%;
}



}



@media screen and (max-width:325px){
.logo,.menu{
    padding: 1rem;
} 
.open,.close{
    right: 1rem;
}
.restaurant{
    font-size: 66px;
}
#offer{
    width: 310px;
}
.product,.product img,.team-member img,.team-member{
    width: 220px;

}

.food,.food-name{
    width: 220px;
    
}
.welcome-head-text,.welcome-head-text2,.welcome-head,.welcome-head2{
    width: 230px;
}
#menu{
    width: 90%;
}
.mySlides p{
    width: 310px;
}
.reservation{
    width: 95%;
    margin-left: 17px;
    border-radius: 10px 0 0 10px ;
}




}
